@import "../scss/variables/colors";
@import "../scss/normalize/reset";
@import "../scss/components/navegacion";
@import "../scss/components/galeria";
@import "../scss/components/card";
@import "../scss/components/textos";



$color_1: black;
$color_2: white;
$background-color_1: #74726F;
$background-color_2: rgb(0, 0, 0);
$background-color_3: #212529;
