*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navegacion{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

body{
    background-color: #74726F;
}

main{
    background-color: #74726F;
    color: black;
}

.galeria{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria img{
    width: 1860px;
    height: 250px;
    border: solid 2px white;
    margin: 5px;
    opacity: 0.5;
}

.galeria img:hover{
    opacity: 1;
}

.muestrario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen_nos{
    width: 800px;
    height: 800px;
}

.contenedor{
    display: flex;
    margin-right: 100px;
}   

.text-center{
    text-align: center;
}

header{
    display: flex;
    background-color: rgb(0, 0, 0);
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.contenedor_logo{
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}


.logo{
    width: 15%;
}

.images{
    text-align: center;
}

.logo img{
    width: 100%;
}

.widht50{
    width: 50%;
}

.navegacion li a{
    text-decoration: none;
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
}



.imgMuestra{
    width: 850px;
    height: 650px;
} 

