main {
    background-color: $background-color_1;
    color: $color_1;
}

body {
    background-color: $background-color_1;
}

footer {
    background-color: $background-color_2;
    color: $color_2;
}

header {
    display: flex;
    background-color: $background-color_2;
}