$redes: (
    facebook: #3a5795,
    whatsapp: #00bb2d,
    instagram: #3f729b,
    tam-fuente: 1rem

);

    .btn--facebook{
    color: map-get($redes , facebook );
    font-size: map-get($redes , tam-fuente);    
    }

    .btn--whatsapp{
        color: map-get($redes , whatsapp );
        font-size: map-get($redes , tam-fuente);    
        }

    .btn--instagram{
    color: map-get($redes , instagram );
    font-size: map-get($redes , tam-fuente);    
    }