.navegacion {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 50%;
	li {
		a {
			text-decoration: none;
		}
	}
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

